@import '../utils/variables';

body{
    font-family: $font-primary;
    background-color: $primary-color;
    color: $font-color;
    height: 100vh;
}
button{
    font-family: $font-primary;
}
button:focus,a:focus{
    outline: 3px solid $darker-secondary; 
    outline-offset: 2px;
  }