@import '../utils/variables';
.latest-projects{
     padding: 100px $main-padding;
     &__cards{
      margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
     }
     @include respond(phone){
      &__cards{
         grid-template-columns: 1fr;
        
      }
  }
  @include respond(tablet){
   &__cards{
      grid-template-columns: 1fr;
     
   }  
  
  }
  @include respond(pc){
   &__cards{
      grid-template-columns: 1fr;
     
   } 
  }
  // @include respond(pcLarge){
    
  
  // }
}